<tr>
  <td><%= link_to '', edit_townhouse_area_path(townhouse_area), class: 'ls-ico-pencil' %></td>
  <td><%= link_to townhouse_area.name, edit_townhouse_area_path(townhouse_area) %></td>
  <td>
    <%= link_to 'remover',
      townhouse_area_path(townhouse_area),
      method: :delete,
      class: 'ls-ico-cancel-circle',
      data: { confirm: 'Deseja mesmo remover esse item?' }
    %>
  </td>
</tr>
