<tr>
  <td><%= link_to '', edit_resident_path(resident), class: 'ls-ico-pencil' %></td>
  <td><%= link_to resident.name, edit_resident_path(resident) %></td>
  <td><%= resident.email %></td>
  <td>
    <%= link_to 'remover',
      resident_path(resident),
      class: 'ls-ico-cancel-circle',
      method: :delete,
      data: { confirm: 'Are you sure?' }
    %>
  </td>
</tr>
