<div class="ls-topbar ">
  <!-- Barra de Notificações -->
  <div class="ls-notification-topbar">

    <!-- Links de apoio -->
    <div class="ls-alerts-list">
      <!-- <a href="#" class="ls&#45;ico&#45;bell&#45;o" data&#45;counter="8" data&#45;ls&#45;module="topbarCurtain" data&#45;target="#ls&#45;notification&#45;curtain2"><span></span></a> -->
    </div>

    <!-- Dropdown com detalhes da conta de usuário -->
    <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
      <% if current_user %>
        <%= link_to '#', class: 'ls-ico-user' do %>
          <!-- <img src="/locawebstyle/assets/images/locastyle/avatar&#45;example.jpg" alt="" /> -->
          <span class="ls-name"><%= current_user[:name] %></span>
        <% end %>
        <nav class="ls-dropdown-nav ls-user-menu">
          <ul>
            <li><a href="#">Meus dados</a></li>
            <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
          </ul>
        </nav>
      <% end %>
    </div>
  </div>

  <span class="ls-show-sidebar ls-ico-menu"></span>

  <h1 class="ls-brand-name">
    <%= link_to "#{ENV['TOWNHOUSE_NAME'] || 'Meu condomínio'}", root_path, class: 'ls-ico-home' %>
  </h1>
</div>
